<div class="panel panel-primary">
  <div *ngIf="isRemoved" class="alert alert-success" >Test removed successfully</div>
    <div class="panel-heading">
      <h2>Test List</h2>
      <div class="active-cyan-4 mb-4">
        <input class="form-control" type="text" [(ngModel)]="searchText"  placeholder="Search by test name" aria-label="Search">
      </div>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>TestId</th>
            <th>TestName</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let test of testList | filterTest : searchText">
            <td>{{test.testId}}</td>
            <td>{{test.testName}}</td>
            <td>
              <button (click)="removeTest(test.testName)" class="btn btn-danger">Delete</button>
              
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
